@import './fonts.scss';
@import './variables';
@import './register';
@import './single-product';
@import './shopping-cart';

body{
    box-sizing: border-box;
    font-family: 'Raleway';
    a{
        text-decoration: none;
        color: black;
        &:hover{
            text-decoration: none;
        }
    }
}



.header{
    margin-top: 10px;
    &__content{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        align-items: center;
        #item1{
            justify-self: stretch;
            align-self: center;
        }
        #item2{
            justify-self: center;
        }
        #item3{
            justify-self: end;
        }
        
        
    }
    &__nav{
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-inline-start: 0;
            margin-top: 10px;
            li{
                list-style-type: none;
                font-weight: 500;
                
                border-bottom: 1px solid transparent;
               a{
                padding: 10px;
                &:hover{
                    color: $green;
                    padding: 10px;
                    border-bottom: 2px solid $green;
                }
               }
                
            }
        }
    }
    &__auth{
        display: flex;
        justify-content: end;
        &_login{
            display: flex;
            justify-content: end;
            align-items: center;
            
        }
        &_btn{
            
            margin-right: 10px;
            padding: 5px;
            border: 1px solid black;
            width: 100%;
            background-color: white;
            &:hover{
                color: $green;
                border: 1px solid $green;
                
            }
        }
        
    }
}

.main{
    margin-top: 20px;
    .products{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-items: center;
        gap: 10px;
        &__card{
            width: 300px;
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.2s all;
            &:hover{
                box-shadow: 0px 5px 10px 0px $green; 
                transition: 0.2s all;
                // filter: drop-shadow(0 0 0.5rem $green);
            }
            &_img{
                img{
                    width: 100%;
                    object-fit: contain;
                }
                
            }
        }
    }
}
